@model IEnumerable<IdentityRole>
@{
    ViewBag.PageTitle = "All Roles";
    ViewBag.PageLegend = "All Roles";
}

    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home mr-1"></i>Home</a></li>
                <li><a>Administration</a></li>
                <li class="active"><a> Role List</a></li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

<h1>All Roles</h1>

<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-primary" style="width:auto" asp-action="CreateRole"
           asp-controller="administration">Add new role</a>
    </div>
</div>


@if (Model.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped dynamic-table cf">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Role Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model)
                                {
                                <tr>
                                    <td>
                                        <a asp-controller="home" asp-action="details" asp-route-id="@role.Id">
                                            @role.Id
                                        </a>
                                    </td>
                                    <td>@role.Name</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                                    </td>
                                    
                                    <td>
                                        <form method="post" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                       
                                    </td>


                                </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}