@model IEnumerable<Company>

@{
    ViewBag.Title = "Company List";
    ViewBag.PageLegend = "Company List";
}

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home mr-1"></i>Home</a></li>
            <li><a>Administration</a></li>
            <li class="active"><a>Company List</a></li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        <a class="btn btn-primary" asp-action="CreateCompany" asp-controller="Administration">Add</a>
    </div>
    </div>
        <div class="row">
            <div class="col-lg-12">

                <section class="panel-primary ">
                    <div class="panel-body">
                        <div class="adv-table">

                            <table class="display table table-bordered table-striped dynamic-table cf">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Company Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var company in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="EditCompany" asp-controller="Administration" asp-route-id="@company.id  ">
                                                    @company.id
                                                </a>
                                            </td>
                                            <td>@company.CompanyName </td>

                                            @*@if ((await authservice.AuthorizeAsync(User, "EditLevel1Policy")).Succeeded){*@
                                            <td>
                                                <a class="btn btn-primary" asp-action="EditCompany" asp-controller="Administration" asp-route-id="@company.id">Edit</a>
                                            </td>
                                            @* }
                                                                        @if ((await authservice.AuthorizeAsync(User, "DeleteLevel1Policy")).Succeeded)
                                                {*@


                                            <td>
                                                <form method="post" asp-action="DeleteCompany" asp-controller="Administration" asp-route-id="@company.id  ">
                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                </form>

                                            </td>
                                            @* }*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        @section Scripts
{
            <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.7.js"></script>
            <!--dynamic table-->
            <script type="text/javascript" src="~/js/advanced-datatable/js/jquery.dataTables.js"></script>
            <script type="text/javascript" src="~/js/data-tables/DT_bootstrap.js"></script>
            <script src="~/js/dynamic_table_init.js"></script>
        }


